<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HuongNguyen's Blog</title>

    <!-- FROALA EDITOR -->
    <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_editor.pkgd.min.css" rel="stylesheet"
        type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_style.min.css" rel="stylesheet"
        type="text/css" />

    <!-- MD BOOTSTRAP PRO -->
    <link href="https://namboss.blob.core.windows.net/huong/mdb.css" rel="stylesheet">

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

    <!-- MY CSS -->

    <link rel="stylesheet" href="/stylesheets/homecss/js-enabled.css">
    <link rel="stylesheet" href="/stylesheets/homecss/morecss.css">
    <link rel="stylesheet" href="/stylesheets/homecss/railscasts.css">
    <link rel="stylesheet" href="/stylesheets/homecss/stylesheet.css">
    <link rel="stylesheet" href="/stylesheets/homestyle.css">


</head>


<body class="page-home">
    <%- include components/header %>

    <main id="panel" class=" slideout-panel">
        <div class="container" id="content">
            <noscript>
                <div class="alert alert-danger">
                    <p>
                        Your browser does not seem to support JavaScript. As a result, your viewing experience will be
                        diminished, and you have been placed in <strong>read-only mode</strong>.
                    </p>
                    <p>
                        Please download a browser that supports JavaScript, or enable it if it's disabled (i.e.
                        NoScript).
                    </p>
                </div>
            </noscript>
            <div class="recent">

                <div class="clearfix">
                    <div class="pull-left">

                    </div>
                    <% if(user) { %>
                    <div class="pull-right">
                        <button id="new_topic" class="btn btn-primary">New Topic</button>
                    </div>
                    <% } else { %>
                    <div class="pull-right">
                        <a href="/users"><button id="new_topic" class="btn btn-primary">Login to post</button></a>
                    </div>
                    <% }; %>
                </div>

                <hr class="hidden-xs">

                <div class="category">


                    <a href="/recent">
                        <div class="alert alert-warning hide" id="new-topics-alert"></div>
                    </a>

                    <ul component="category" class="topic-list" itemscope="" itemtype="http://www.schema.org/ItemList"
                        data-nextstart="20">
                        <meta itemprop="itemListOrder" content="descending">
                        <% postss.forEach(function(post) {%>
                        <li component="category/topic" class="row clearfix unread" data-tid="1856" data-index=""
                            data-cid="4" itemprop="itemListElement">
                            <meta itemprop="name" content="<%= post.title %>">

                            <div class="col-md-7 col-sm-9 col-xs-10 content">
                                <div class="avatar pull-left" data-original-title="" title="">


                                    <a href="#" class="pull-left">
                                        <img src="<%= post.user.avatar %>" alt="<%= post.author %>">
                                    </a>

                                </div>

                                <h2 component="topic/header" class="title">
                                    <i component="topic/pinned" class="fas fa-thumb-tack hide"></i>
                                    <i component="topic/locked" class="fas fa-lock hide"></i>
                                    <a href="/details/topic/<%= post.id %>" itemprop="url">
                                        <%= post.title %></a><br>

                                    <small>
                                        <a href="/category/4/general-discussion"><span class="fa-stack fa-lg"><i style="color:#e95c5a;"
                                                    class="fas fa-circle fa-stack-2x"></i><i style="color:#fff;" class="fas fa-question fa-stack-1x"></i></span>
                                            <%= post.tags %></a> •
                                    </small>

                                    <span class="tag-list hidden-xs">


                                    </span>

                                    <small class="hidden-xs"><span class="timeago" title="Wed Aug 22 2018 10:20:52 GMT+0700 (Indochina Time)">Created
                                            at:
                                            <%= post.createdat %></span></small>
                                    <small class="visible-xs-inline">
                                        <span class="timeago" title="Wed Sep 12 2018 08:35:26 GMT+0700 (Indochina Time)">about
                                            3 hours ago</span>
                                    </small>
                                </h2>
                            </div>

                            <div class="mobile-stat col-xs-2 visible-xs text-right">
                                <span class="human-readable-number">8</span> <a href="#"><i class="fas fa-arrow-circle-right"></i></a>
                            </div>

                            <div class="col-md-1 hidden-sm hidden-xs stats">
                                <span class="human-readable-number" title="8">8</span><br>
                                <small>Posts</small>
                            </div>

                            <div class="col-md-1 hidden-sm hidden-xs stats">
                                <span class="human-readable-number" title="379">379</span><br>
                                <small>Views</small>
                            </div>

                            <div class="col-md-3 col-sm-3 teaser hidden-xs">
                                <div class="card" style="border-color: #e95c5a">
                                    <p>
                                        <a href="/user/thái-bình-la">
                                            <span title="" class="user-icon user-img" style="background-color: #ff5722;"
                                                data-original-title="Thái Bình La">T</span>
                                        </a>
                                        <a class="permalink" href="#">
                                            <span class="timeago" title="Wed Sep 12 2018 08:35:26 GMT+0700 (Indochina Time)">about
                                                3 hours ago</span>
                                        </a>
                                    </p>
                                    <div class="post-content">
                                        <p><a class="plugin-mentions-a" href="#">@Quang-Vu-Quang</a>
                                            anh cho em tham gia với ạ. e cũng làm nhiều về nodejs mà chưa làm về
                                            chatbot.</p>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <% }) %>
                    </ul>

                </div>
            </div>
        </div>
        <!-- END container -->
    </main>

    <div class="hide">
        <script type="text/tpl" data-template="500">
<div class="alert alert-danger">
	<strong>Internal error.</strong>
	<p>Oops! Looks like something went wrong!</p>
	<p></p>
	

</div>
</script>
    </div>


    <div class="topic-search hidden">
        <div class="btn-group">
            <button type="button" class="btn btn-default count"></button>
            <button type="button" class="btn btn-default prev"><i class="fas fa-fw fa-angle-up"></i></button>
            <button type="button" class="btn btn-default next"><i class="fas fa-fw fa-angle-down"></i></button>
        </div>
    </div>
    <div component="toaster/tray" class="alert-window"></div>


    <div id="taskbar" class="taskbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <ul class="nav navbar-nav pull-right"></ul>
        </div>
    </div>

    <!-- CREATE NEW POST -->
    <div component="composer" class="composer resizable admin-froala-editor dnonee" id="post-form-newpost">
        <div class="composer-container">

            <div class="row title-container" data-id="0">
                <div class="col-lg-9 col-md-12">
                    <input class="title form-control" type="text" tabindex="1" placeholder="Enter your topic title here..."
                        id="home-postContent" value="" name="title" data-id="">
                </div>
                <div class="category-list-container col-lg-3 col-md-12">
                    <select tabindex="3" class="mdb-select category-list" name="tags">
                        <option value="General Discussion">General Discussion</option>
                        <option value="Discuss A">Discuss A</option>
                        <option value="Discuss A/Tag 1">&nbsp;&nbsp;&nbsp;&nbsp;• Tag 1</option>
                        <option value="Discuss A/Tag 2">&nbsp;&nbsp;&nbsp;&nbsp;• Tag 2</option>
                        <option value="Discuss A/Tag 3">&nbsp;&nbsp;&nbsp;&nbsp;• Tag 3</option>
                        <option value="Discuss B">Discuss B</option>
                        <option value="Discuss B/Tag 1">&nbsp;&nbsp;&nbsp;&nbsp;• Tag 1</option>
                        <option value="Discuss B/Tag 2">&nbsp;&nbsp;&nbsp;&nbsp;• Tag 2</option>
                        <option value="Discuss B/Tag 3">&nbsp;&nbsp;&nbsp;&nbsp;• Tag 3</option>
                        <option value="Discuss B/Tag 4">&nbsp;&nbsp;&nbsp;&nbsp;• Tag 4</option>
                        <option value="Discuss C">Discuss C</option>
                        <option value="Discuss D">Discuss D</option>
                    </select>
                </div>
            </div>

            <div class="row category-tag-row">
                <div class="btn-toolbar formatting-bar">

                    <div class="btn-group pull-right action-bar hidden-sm hidden-xs">
                        <div style="display: none" class="home-post-author" name="author">
                            <%= user.email %>
                        </div>
                        <button class="btn btn-warning composer-discard" data-action="discard" tabindex="-1" id="home-post-discard-editor"><i
                                class="fas fa-times"></i> Discard</button>

                        <button class="btn btn-primary composer-submit" data-action="post" tabindex="6" id="home-post-submit"><i
                                class="fas fa-check"></i> Submit</button>

                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#" data-switch-action="post">
                                    <button type="button"><i class="fas fa-fw fa-check"></i> Submit</button>
                                </a></li>

                        </ul>
                    </div>


                </div>
            </div>

            <div class="row write-preview-container" style="height: 172px;">
                <div class="col-12 write-container">
                    <textarea class="write" tabindex="5" data-mentions="1" id="needToPreview" name="content"></textarea>
                </div>

            </div>
            <div class="imagedrop">
                <div>Drag and Drop Images Here</div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="/stylesheets/admincss/vendor/jquery/jquery.min.js"></script>
    <script src="/stylesheets/admincss/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/stylesheets/admincss/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- MDBOOTSTRAP JS -->
    <script type="text/javascript" src="https://namboss.blob.core.windows.net/huong/mdb.min.js"></script>
    <!-- FILE JS -->
    <script src="/javascripts/all.js"></script>

    <!-- FROALA EDITOR -->
    <!-- Include external JS libs. -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/froala_editor.pkgd.min.js"></script>

    <!-- Initialize the editor. -->
    <script>
        $(function () {
            $('textarea').froalaEditor(
                {
                    height: 300
                })
        });
    </script>

</body>

</html>